{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Shopping List | {% block title %}{{ title }}{% endblock %}</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}"  media="screen,projection"/>

        <script src="{% static "js/jquery-2.2.3.min.js" %}"></script>
        <script src="{% static "js/materialize.min.js" %}"></script>
        <script src="{% static "js/init.js" %}"></script>
        
        {% block extra_media %}{% endblock %}
                
    </head>
    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <a href="{% url 'index' %}" class="brand-logo">Shopping List</a>
            <div class="nav-wrapper container">                
                {% if user.is_authenticated %}
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'index' %}">{% trans 'My Lists' %}</a></li>
                        <li><a href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
                        <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="{% url 'index' %}">{% trans 'My Lists' %}</a></li>
                        <li><a href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
                        <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                    </ul>
                {% else %}
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
                    </ul>
                {% endif %}
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <main id="main_container">
            <div class="container">
            {% block content_title %}{% endblock %}
            {% block content %}{% endblock %}
            </div>
        </main>
        <footer class="page-footer orange">
            <div class="footer-copyright">
                <div class="container">
                Made by <a class="orange-text text-lighten-3" href="https://github.com/danthewildcat">Dan Sutich</a>
                </div>
            </div>
        </footer>
    </body>
</html>
